<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 

    <html xmlns = "http://www.w3.org/1999/xhtml" lang = "en" xml:lang = "en">
	<head>
		<meta http-equiv = "Content-Type" content = "text/html; charset = ISO-8859-1" />
		<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
		<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
		<title>Pony Placement Project</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
	</head>
	<body>
		<div id = "header">
            <%= image_tag("/assets/logo.png", :alt => "Logo") %>
			<h1>The Pony Placement Project</h1>
			<h3>Where you discover your inner Pony.</h3>
		</div>
        <div id = "buttonBar">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/evaluate">Analyze</a></li>
              <!--<li><a href="/how">How We Do It</a></li>-->
              <li><a href="/credits">Credits</a></li>
            </ul>
            <ul>
              <li><a href="/code">Source Code</a></li>
              <li><a href="/about">About Us</a></li>
              <!--<li><a href="/feedback">Feedback</a></li>-->
            </ul>
        </div>
        <div id = "content">
          <%= yield %>
        </div>
		<div id = "footer">
			<p>
				&copy; 2012, Pony Placement Project<br />
				All trademarks and registered trademarks appearing on this site are 
				the property of their respective owners. We do not discriminate on 
				bases of of race, color, creed, religion, sex, age, handicap, 
				marital status, or national origin. We do not take reponsibility 
				for any bad experiences do to taking advice posted on this site.
			</p>
		</div>
	</body>
</html>
